@charset "UTF-8";
h1 {
  color: white;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: lighter;
  font-size: 5em;
  text-shadow: 3px 5px 5px black; }

strong {
  font-size: 1.4em; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  scroll-behavior: smooth; }

header {
  background-color: #C7CCC7;
  height: 55px;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0px; }
  header nav ul li {
    margin: 15px;
    list-style-type: none; }

.nav-link {
  text-decoration: none;
  color: white;
  font-family: "Manrope", sans-serif;
  font-size: larger; }
  .nav-link:hover {
    color: blue; }

footer {
  background-color: #C7CCC7;
  height: 100px; }
  footer div p {
    font-family: "Manrope", sans-serif;
    color: #272827;
    font-style: normal;
    font-size: 15px;
    justify-content: left;
    padding-left: 30px; }

#redes {
  align-items: center;
  display: flex;
  padding-right: 80px;
  padding-top: 23px;
  justify-content: space-between; }
  #redes ul li {
    display: inline-block;
    margin: 5px;
    height: 50px;
    width: 50px;
    text-align: center; }
    #redes ul li a {
      display: block;
      padding: 0 10px;
      background: #272827;
      line-height: 50px;
      font-size: 20px;
      box-shadow: 0 3px 5px 0px rgba(0, 0, 0, 0.2);
      transition: .2s; }
      #redes ul li a:hover {
        transform: translateY(-3px) scale(1.05);
        box-shadow: 0 5px 5px 0px rgba(0, 0, 0, 0.4);
        filter: none; }

#redes ul:hover a {
  filter: blur(2px); }

.fondoInicio {
  background-color: #0a0606;
  color: whitesmoke; }

#heroInicio {
  background-image: linear-gradient(rgba(5, 7, 12, 0.4), rgba(5, 7, 12, 0.4)), url(../assets/imagenes/praxis-jurídica.png);
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover; }

aside {
  background-image: linear-gradient(rgba(5, 7, 12, 0.4), rgba(5, 7, 12, 0.4)), url(../assets/imagenes/banner-oficial.jpg);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat; }
  aside p {
    font-family: "Manrope", sans-serif;
    color: whitesmoke;
    font-size: 2em;
    font-weight: bold;
    text-shadow: 2px 2px 7px black, 2px 2px 7px black; }

.colorDif {
  color: #051B48;
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: bolder;
  font-size: 1.25em;
  text-shadow: 2px 2px 7px whitesmoke, 2px 2px 7px whitesmoke; }

.textoVideo {
  font-family: "Manrope", sans-serif;
  color: whitesmoke;
  font-style: normal;
  font-size: larger;
  text-align: center;
  text-align: justify;
  padding-left: 10em;
  padding-right: 11em;
  padding-top: 5em;
  line-height: 1.5em;
  padding-bottom: 6em; }

.video {
  box-shadow: 2px 2px 5px 5px whitesmoke;
  margin-top: 5em;
  margin-left: 15em; }

.colorFondo {
  background-color: whitesmoke;
  padding-bottom: 15em; }

#quienesSomos {
  background-image: linear-gradient(rgba(5, 7, 12, 0.6), rgba(5, 7, 12, 0.6)), url("../assets/imagenes/quienes-somos.jpg");
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover; }

section div img {
  height: 350px;
  border-radius: 10px;
  margin: 4em 0;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5); }
  section div img:hover {
    transform: scale(1.2, 1.2); }

#flexConteiner {
  display: flex; }

.presentacionFirst {
  padding-left: 5em;
  padding-right: 1em;
  padding-top: 10em;
  text-align: center; }
  .presentacionFirst p {
    font-family: "Manrope", sans-serif;
    font-style: normal;
    color: #272827;
    line-height: 2em; }

.presentacionSecond {
  padding-left: 0;
  padding-right: 8em;
  padding-top: 10em;
  text-align: center; }
  .presentacionSecond p {
    font-family: "Manrope", sans-serif;
    font-style: normal;
    color: #272827;
    line-height: 2em; }

.Contacto {
  background-image: linear-gradient(rgba(5, 7, 12, 0.5), rgba(5, 7, 12, 0.5)), url("../assets/imagenes/contacto.jpg");
  height: 200vh;
  background-size: cover;
  background-attachment: fixed; }

.letraContacto {
  padding-top: 1em; }

form {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 10% auto; }
  form input {
    height: 30px;
    margin-top: 5px;
    margin-bottom: 20px;
    border-color: #051B48;
    border-style: solid;
    background-color: #030007; }
  form label {
    font-family: "Manrope", sans-serif;
    color: whitesmoke;
    font-style: normal;
    font-size: larger;
    text-align: center; }

textarea {
  margin-top: 5px;
  margin-bottom: 20px;
  border-color: #051B48;
  background-color: #030007;
  border-width: 2px;
  color: whitesmoke; }

#fraseFinal {
  font-family: "Manrope", sans-serif;
  color: whitesmoke;
  font-weight: lighter;
  text-align: center;
  font-size: xx-large; }

#botonEnviar {
  background-color: #051B48;
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-size: larger;
  color: white;
  border-radius: 0.5rem; }

.botonSpoty {
  display: flex;
  align-items: center; }

.botonSpotyApar {
  background-color: #051B48;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(3, 0, 0, 0.5);
  border: 1px solid rgba(3, 0, 0, 0.5);
  font-size: 1em;
  font-weight: bold;
  font-family: 'Manrope', sans-serif;
  color: white;
  width: 8em;
  height: 3em;
  padding: 0.5em;
  margin-top: 1em; }
  .botonSpotyApar:hover {
    background-color: #07011a; }

#colaboradores {
  background-image: linear-gradient(rgba(5, 7, 12, 0.6), rgba(5, 7, 12, 0.6)), url("../assets/imagenes/colaboradores.jpg");
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover; }

#fondoColaboradores {
  background-color: whitesmoke; }

main section div p {
  font-family: "Manrope", sans-serif;
  font-style: normal;
  color: #272827; }

#imagenesFirst, #imagenesSecond {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center; }
  #imagenesFirst img, #imagenesSecond img {
    text-align: center;
    margin: 3.5em;
    margin-bottom: 20px;
    margin-top: 10em; }

.imagenes:hover {
  transform: scale(1, 1); }

#podcast {
  background-image: linear-gradient(rgba(5, 7, 12, 0.6), rgba(5, 7, 12, 0.6)), url("../assets/imagenes/podcast.jpg");
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover; }

.podcastApar div iframe {
  background: whitesmoke;
  padding: 2em; }

.spoty {
  display: flex;
  background-color: #6597C8;
  align-items: center;
  justify-content: center; }
  .spoty p {
    font-family: "Manrope", sans-serif;
    padding-right: 1em;
    padding-top: 1em; }

section #suscripcion div p svg form {
  display: inline; }

/*INDEX GRID*/
.containerGrid {
  display: grid;
  grid-template-columns: repeat(2, 2fr) 1fr;
  grid-template-rows: 3em 35em 40em 20em 3em;
  height: 100%;
  grid-template-areas: "menu menu menu" "hero hero hero" "contenido contenido publicidad" "contenido contenido publicidad" "footer footer footer"; }

.headerGrid {
  grid-area: menu; }

.mainGrid {
  grid-area: contenido; }

.heroGrid {
  grid-area: hero; }

.asideGrid {
  grid-area: publicidad; }

.footerGrid {
  grid-area: footer; }

@media (max-width: 767px) {
  /*index*/
  .containerGrid {
    background-color: #0a0606;
    grid-template-columns: 1fr;
    grid-template-rows: 3em 20em 60em 10em 1em;
    grid-template-areas: "menu" "hero" "contenido" "publicidad" "footer"; }
  #heroInicio {
    height: 20em; }
  .video {
    margin-top: 3em;
    margin-left: 1em;
    margin-right: 1em; }
  .textoVideo {
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 2em;
    line-height: 1.5em;
    padding-bottom: 3em; }
  .asideGrid img {
    rotate: 90deg;
    background-size: cover; }
  /*contacto*/
  .Contacto {
    background-image: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75)), url("../assets/imagenes/contacto.jpg");
    height: 100%;
    background-size: cover;
    background-attachment: fixed; }
  footer {
    background-color: #C7CCC7;
    height: 170px; }
  /*quienes somos*/
  #quienesSomos {
    height: 15em; }
  #flexConteiner {
    display: block; }
  .presentacionFirst {
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 2em;
    text-align: center; }
  .presentacionSecond {
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 2em;
    text-align: center; }
  section div img {
    height: 250px; }
  /*PODCAST*/
  #podcast {
    height: 3em; }
  .spoty {
    contain: content; }
    .spoty p {
      padding-left: 1em;
      padding-right: 0; }
  .botonSpotyApar {
    width: 10em;
    height: 3em;
    margin-right: 3em; }
  /*COLABORADORES*/
  #colaboradores {
    height: 30vh;
    font-size: 2.5em; }
  #imagenesFirst, #imagenesSecond {
    display: inline-block; }
    #imagenesFirst img, #imagenesSecond img {
      margin: 4em; }
  #imagenesSecond {
    display: inline-block; }
    #imagenesSecond img {
      margin: 4em; } }

/*MEDIA QUERIES TABLET*/
@media (min-width: 768px) and (max-width: 1119px) {
  /*INDEX*/
  .containerGrid {
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 3em 26em 26em 35em 5em;
    grid-template-areas: "menu menu" "hero hero" "contenido publicidad" "contenido publicidad" "footer footer"; }
  #heroInicio {
    height: 40vh; }
  .video {
    margin-top: 5em;
    margin-left: 3em;
    margin-right: 3em; }
  .textoVideo {
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 3em; }
  /*CONTACTO*/
  .Contacto {
    background-image: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75)), url("../assets/imagenes/contacto.jpg");
    height: 100%;
    background-size: cover;
    background-attachment: fixed; }
  /*QUIENES SOMOS*/
  #quienesSomos {
    height: 30em; }
  .presentacionFirst {
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 5em;
    text-align: center; }
  .presentacionSecond {
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 5em;
    text-align: center; }
  section div img {
    height: 250px; }
  /*PODCAST*/
  #podcast {
    height: 5em; }
  .spoty {
    contain: content; }
    .spoty p {
      padding-left: 1em; }
  .botonSpotyApar {
    width: 10em;
    height: 3em;
    margin-right: 3em; }
  /*COLABORADORES*/
  #colaboradores {
    height: 40vh; }
  #imagenesFirst img, #imagenesSecond img {
    margin: 4em; }
  #imagenesSecond img {
    margin: 4em; } }
