header{
    background-color: $background-second;
    height: 75px;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
    nav ul li{
        margin: 15px;
        list-style-type: none;
    }
}
.nav-link {
    text-decoration: none;
    color: white;
    font-family: $fuente-principal;
    font-size: larger;
    &:hover{
        color: blue;
    }
}

.navbar-nav{
    position: fixed;
    background-color: $background-second;
}
