h1 {
    color: white;
    text-align: center;
    font-family: $fuente-secundaria;
    font-weight: lighter;
    font-size: 5em;
    text-shadow: 3px 5px 5px black;
}
strong {
    font-size: 1.4em;
}